@media (max-width: 614px){

    .retangulostories{
        display: none;
    }
    .conteudotopo{
        width: 100%;
    }
    .logosdesktop{
        display: none;
    }
    .logoimgmobile{
        display: block;
        margin-left: 20px;
    }
    .logoescritamobile{
        display: block;
    }
    .pesquisar{
        display: none;
    }
    .opçoes{
        display: none;
    }
    .direct{
        display: block;
        margin-right: 20px;

    }
    .main{
        width: 100%;

    }
    .feed{
        width: 100%;
    }
    .barrastories{
        background-color: #E5E5E5;
        width: 100%;
        height: 118px;
        margin-top: 54px;
        margin-bottom: 0;
    }
    .post{
        width: 100%;

    }
    .foto{
        width: 100%;
        height: auto;
    }
    .foto img{
        width: 100%;
    }
    .foto video{
        width: 100%;
    } 
    .barrastories{
        width: 100%;
    }
    .setinha{
        display: none;
    }
    .rodape{
        background: #FFFFFF;
        border: 1px solid #DBDBDB;
        position: fixed;
        height: 54px;
        width: 100vw;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .sidebar{
    display: none;
    }
}