body{
    background: #E5E5E5;
}
p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
}

ion-icon{
    font-size: 22px;
    cursor: pointer;
}

.topo
{
    background-color: #FFFFFF;
    ;
    height: 54px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border: 1px solid #DBDBDB;
    

}
.conteudotopo{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    width: 935px;
    margin-left: auto;
    margin-right: auto;

}
.logosdesktop{
    display: flex;
    margin-top: 5px;
}
.logoimg{
    margin-left: 0px;
}
.logoimgmobile{
    display: none;
}
.logoescritamobile{
    display: none;
}
.retangulo{
    background: #DBDBDB;
    width: 1px;
    height: 22px;
    margin: 0 10px;

}
.logoescrita img{
    width: 103px;
    height: 29px;
}
.pesquisar{
    background-color: #FAFAFA;
    width: 215px;
    height: 28px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    
}
.pesquisar p{
    color: #979797;
    font-size: 12px;
    line-height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.opçoes img{
    height: 22px;
    margin: 16px 0 16px 20px;
}
.opçoes ion-icon{
    margin: 16px 0 16px 20px;
}
    
.direct{
    display: none;
}

.main{
    background-color: #E5E5E5;
    width: 935px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
   

}
.barrastories{
    background-color: #FFFFFF;
    width: 614px;
    height: 118px;
    margin-top: calc(54px + 34px);
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
    overflow: hidden;

}

.back-ground-stories{
    width: 66px;
    height: 66px;
    margin: 18px 0px 1px 14px;
    z-index: 4;
    position: relative;
    
   
}
.stories-foto img{
    width: 56px;
    height: 56px;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    
}
.back-ground-stories p{
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #262626;
    cursor: pointer;
} 
.back-ground-stories p:hover{
    color: purple;
}
.back-ground-stories img{
    border-radius: 33px;
}
.setinha{
    position: absolute;
    font-size: 26px;
    color: #FFFFFF;
    top: 46px;
    right: 7px;
    z-index: 6;
    cursor: pointer;

}
.setinha:hover{
    color: #DBDBDb;
}
.post{
    background-color: #FFFFFF;
    width: 614px;
    margin-bottom: 60px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px; 
}
.usuario{
    background-color: #FFFFFF;;
    display: flex;
    position: relative;
}

.usuario img{   
    margin: 15px 15px 0px 17px;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    cursor: pointer;
}
.etc img{
    width: 16px;
    height: 16px;
    margin-top: 23px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

}
.usuario p{
    color: #262626;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    margin-top: 21px;
    cursor: pointer;
}
.foto img{
    margin: 13px 0 10px 0;
    width: 612px;
}
.foto video{
    margin: 13px 0 10px 0;
    width: 612px;
    
} 
.interacao{
    display: flex;
    justify-content: space-between;
}
.interacao img{
    width: 22px;
    height: 22px;
    margin-left: 14px;
    cursor: pointer;
}
.interacao ion-icon{
    width: 22px;
    height: 22px;
    margin-left: 14px;
   
}
.intercaodireita {
    margin-right: 17px;
}
.curtidopor{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    display: block;
    margin-top: 10px;
    margin-left: 17px;
}
.curtidopor p{
    display: inline-block;
    vertical-align: text-top;
    margin-left: 5px;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.curtidopor img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.comentariofoto{
    display: flex;
    justify-content: space-between;
    margin-left: 17px;
    margin-right: 17px;
}
.comentariofoto ion-icon{
    font-size: 12px;
}
.comentariofoto p{
    
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.addcomentario{
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 14px;
    color: #8E8E8E;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.addcomentario input{
    width: calc(100% - 60px);
    height: 30px;
    border: none;
}
.addcomentario button{
    background-color: #B2DFFC;
    border-radius: 5px;
    border: none;
}
.addcomentario button:hover{
    background-color: #0095F6;
}

 .sidebar{
    background: #E5E5E5;;
    position: fixed; 
    margin-top: 54px;
    margin-left: 642px;
    height: calc(100vh - 54px);
    width: 293px;
    z-index: 9;
} 
.perfil{
    margin-top: 57px;
    display: flex;
    align-items: center;
}
.perfil img{
    width: 56px;
    height: 56px;
    border-radius: 28px;
    cursor: pointer;
}
.perfil p{
    margin-left: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    cursor: pointer;
}
.sugestoes{
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}
.paravoce {
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}
.vertudo{
    font-size: 12px;
    line-height: 14px;
    color: #262626;
    cursor: pointer;
}
.outrascontas{
    margin: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fotosugestao img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.nomesugestao p{
    
    width: 208px;
    margin-left: 11px;
    margin-bottom: 4px;
    
}
.user{
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    cursor: pointer;
}
.comentario{
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}
.seguirsugestao{
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
    cursor: pointer;
}
.sobre{
    margin-top: 33px;
}
.sobre p{
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}
.span{
    margin-top: 18px;
}
.span p{
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}
.rodape{
    display: none;
}